.modal {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 50%;
  margin-top: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    box-shadow: 2px 0px 21px 10px rgba(182, 182, 182, 0.91);
    background-color: #fff;
    padding: 2vw;
    border-radius: 0.8vw;
    div {
      label {
        margin-bottom: 0.6vw;
        display: inline-block;
        color: orange;
      }
      margin-bottom: 1vw;
      input[type='text'],
      textarea,
      select {
        width: 100%;
        resize: none;
      }
    }
    &__radio {
      width: 50%;
      display: inline-block;
    }
    &__error {
      font-size: 0.8rem;
      font-weight: 100;
      color: red;
    }
  }
}
.validInput {
  border: 1px solid greenyellow;
}
.inValidInput {
  border: 1px solid red;
}
